.header-wrapper {
	display: inline-block;
	position: fixed;
	width: 1440px;
	height: 50px;
	margin-right: 100px;
}
.logo {
	display: inline-block;
	margin-left: 20px;
	margin-top: 18px;
	margin-bottom: 17px;
	color: #FA6980;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 20px;
}
.header-navigation {
	display: inline-block;
	margin-left: 92px;
	margin-top: 20px;
}
.nav-li {
	display: inline-block;
	padding-right: 22px;
	text-decoration-color: #343638;
	font-family: 'Bebas Neue', cursive;
}
.image-icon {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-left: 40px;
}
.home {
	color: #343638;
}
.grey {
	color: #343638;
}
.first-section {
	position: relative;
	display: inline-block;
	width: 1160px;
	height: 410px;
	margin-left: 140px;
	margin-top: 75px;
	margin-right: 140px;
}
.first-section-title {
	width: 1025px;
	height: 20px;
	color: #202124;
	font-family: 'Lato', sans-serif
}
.container {
	display: inline-block;
	vertical-align: middle;
	width: 360px;
	height: 350px;
	margin-top: 40px;

}
.image-title {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 40px;
	margin-top: 68px;
	padding-top: 28px;
	width: 280px;
	height: 16px;
	font-size: 16px;
	color: #FFFFFF;
}
.image-title2 {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 93px;
	margin-left: 420px;
	padding-bottom: 306px;
	width: 280px;
	height: 16px;
	font-size: 16px;
	color: #FFFFFF;
}
.image-title3 {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 220px;
	margin-top: 93px;
	font-size: 16px;
	color: #FFFFFF;
}
.image2-paragraph {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 66px;
	padding-top: 66px;
	width: 280px;
	height: 38px;
	line-height: 23px;
	font-size: 13;
	font-family: 'Hind Siliguri', sans-serif;
	color: #A6ADB4;
}
.time-id{
	display: inline-block;
	width: 69px;
	height: 16px;
	color: #CBD0D3;
	padding-left: 40px;
	padding-top: 10px;
}
.time-logo {
	display: inline-block;
	vertical-align: middle;
}
.time-moment {
	display: inline-block;
	vertical-align: middle;
	color: #CBD0D3;
	
}